.items-div{
    height:400px;
    width: 100%;
    background-color: #F0F8FF;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.items-div:hover{
    cursor: pointer;
}
.items-heading{
    display: flex;
    align-items: start;
    height: 15%;
    width: 100%;
    margin-top: 0;
}
.items-heading p{
    font-size: 30px;
    margin-left: 40px;
    font-weight: 500;
    color:#474b4f;
}
.items{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #FFFAFA;
    border-radius: 5px;
}
.items:hover{
    scale: 1.15;
    transition: 1s;
}
.item-image{
    height: 70%;
    width: 80%;
    border-radius: 4px;
    cursor: pointer;
}
.items .heading-p{
    margin: 0px;
    font-size: 18px;
    margin: 0px;
    text-decoration: none;
}
.items .subheading-p{
    margin: 0px;
    font-size:16px;
    font-weight: 600;
}
.items-main{
    display: flex;
    gap: 4.5%;
    height: 85%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
@media (min-width:769px) and (max-width:1024px){
  .items-div{
    height: 280px;
  }
  .items-heading p{
    font-size: 22px;
    margin-left: 30px;
  }
  .items-main{
    gap: 30px;
  }
  .item-image{
    height: 60%;
  }
  .items .heading-p{
    font-size: 15px;
  }
  .items .subheading-p{
    font-size: 12px;
  }  
}

@media (min-width:481px) and (max-width:768px){
  .items-div{
    height: 220px;
    gap: 10px;
  }
  .items-heading p{
    font-size: 16px;
    margin-left: 20px;
  }
  .items-main{
    gap: 4.5%;
  }
  .item-image{
    height: 60%;
  }
  .items .heading-p{
    font-size: 9px;
  }
  .items .subheading-p{
    font-size: 10px;
  }  
}