.c-footer{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F8FF;
    
}
.cart-name{
    height: 100%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.logo-image{
    height: 3.5rem;
    width: 6rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.footer-li{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.footer-copyright{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.c-footer-li{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}