.list{
    display: flex;
    color: #2C3539;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.list-items{
    font-size: 3vh;
    text-decoration: none;
    color: #2C3539;
}
.logo-image{
    height: 3.5rem;
    width: 6rem;
    margin-left: 5%;
}

@media (min-width:481px) and (max-width:768px){
    .list{
        gap:15px;
    }
    .list-items{
        font-size: 12px;
    }
    .logo-image{
        height: 2rem;
        width: 3rem;
    }
}

@media (min-width:769px) and (max-width:1024px){
   .list{
    gap: 40px;
   }
   .list-items{
    font-size: 16px;
   }
   .logo-image{
    height: 2.5rem;
    width: 4rem;
   }
}