.heading-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 3rem;
    margin-top: 3rem;
    width: 80%;
}
.modal-heading{
    font-size: 26px;
    font-weight: 500;
    margin: 0px;
}
.modal-subheading{
    margin: 0px;
    font-size: 17px;
}
.modal-logo-image{
    height: 20rem;
    width: 20rem;
    margin-top: 1rem;
}
.list{
    display: flex;
    color: #2C3539;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.list-items{
    font-size: 3vh;
    text-decoration: none;
    color: #2C3539;
}
.logo-image{
    height: 3.5rem;
    width: 6rem;
    margin-left: 5%;
}
.cartIcon{
    display: flex;
}
#list-div{
    display: flex;
    align-items: center;
}
#menu{
    display: none;
}
.authentication-div{
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* align-items: first baseline; */
    border: 1px solid red;
    justify-content: center;
}
.username-div{
    margin-top: 3.5rem;
}
.role-div{
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 17px;
}
.auth-guidelines{
    height: 2rem;
    width: 80%;
    margin-left: 3.5rem;
}
.auth-guidelines-p{
    font-size: 14px;
}
.auth-guidelines-button{
    width: 75%;
    height: 2.7rem;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
    font-size: 17px;
    font-weight: 500;
    background: #ffa500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.auth-newuser{
    margin-top: 4rem;
    margin-left: 6.5rem;
    cursor: pointer;
}
.auth-guidelines-button-signup{
    width: 75%;
    height: 2.7rem;
    margin-left: 3.5rem;
    margin-top: 1.2rem;
    font-size: 17px;
    font-weight: 500;
    background: #ffa500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.auth-signup-existing{
    width: 75%;
    height: 2rem;
    margin-left: 3.5rem;
    font-size: 16px;
    font-weight: 500;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width:481px) and (max-width:768px){
    .list{
        gap:15px;
    }
    .list-items{
        font-size: 12px;
    }
    .logo-image{
        height: 2rem;
        width: 3rem;
    }
}

@media (min-width:769px) and (max-width:1024px){
   .list{
    gap: 40px;
   }
   .list-items{
    font-size: 16px;
   }
   .logo-image{
    height: 2.5rem;
    width: 4rem;
   }
   .modal-heading{
    color: red;
    font-size: 22px;
   }
   .modal-subheading{
    font-size: 16px;
   }
   .heading-div{
    margin-left: 1.5rem;
   }
   .modal-logo-image{
    height: 10rem;
    width: 10rem;
    margin-top: 2rem;
   }
   .authentication-div{
   }
   .role-div{
    width: 5rem;
    margin-left: 0.5rem;
    font-size: 12px;
   }
   .auth-guidelines{
    margin-left: 1.7rem;
   }
   .auth-guidelines-p{
    font-size: 12px;
   }
   .auth-guidelines-button{
    margin-left: 1.8rem;
    height: 2rem;
   }
   .auth-newuser{
    margin-top: 2rem;
    margin-left: 0.8rem;
    text-align: center;
   }
   .auth-guidelines-button-signup{
    margin-left: 1.8rem;
    height: 2rem;
    font-size: 14px;
   }
   .auth-signup-existing{
    margin-left: 1.8rem;
    height: 2rem;
    font-size: 13px;
   }
}

@media (min-width:320px) and (max-width:480px){
    .logo-image{
        height: 2rem;
        width: 3.5rem;
    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #list-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        z-index: 1;
        top: 90px;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color: rgb(231, 231, 231);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.3s ease-in-out;
    }
    #list-div.active{
        right: 0px;
    }
    #menu{
        display: block;
    }
}