.carousel-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffafa;
    height: 430px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.image-div{
    width: 70%;
    height: 100%;
}
.image-desc{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
}
.carousel-image{
    height: 100%;
    width: 100%;
}
