.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.contact-heading{
    width: 40%;
    height: 3rem;
    margin-left: 13.2rem;
    font-size: 22px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: gray;
}
.contact-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
    border: 1px solid yellow;
}
.contact-freq{
    width: 40%;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact-form{
    width: 28%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
label{
    margin-top: 12px;
    margin-left: 4rem;
}

.user-input{
    height: 6%;
    width: 70%;
    margin-left:4rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}
.problem-text{
    height: 30%;
    width: 70%;
    margin-left: 4rem;
    border:1px solid gray;
    color: #2C3539;
    margin-top: 5px;
    outline: none;
}
.submit-button{
    height: 7%;
    width: 71.5%;
    margin-left: 4rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    color: #2C3539;
    font-size: 1rem;
    background-color: #9bddff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact-freq-heading{
    height: 2rem;
    width: 60%;
    font-size: 19px;
    font-weight: 400;
    margin-left: 1.8rem;
    display: flex;
    align-items: end;
}
.contact-freq-questions{
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}
.contact-freq-subquestion{
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    cursor: pointer;
}
.contact-freq-subquestion:hover{
    background-color: #DFF2FF;
}
.upper-p{
    margin: 0px;
    font-size: 16px;
    margin-left: 1.8rem;
}
.lower-p{
    margin: 0px;
    margin-left: 1.8rem;
    font-size: 13px;
    color: rgb(73, 73, 73);
}
