.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.product-section{
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 100%;
    border: 1px solid black;
}
.product-section-heading{
    height: 3rem;
    width: 100%;
    border: 1px solid red;
}
.product-section-div{
    height: 100%;
    width: 100%;
    border: 1px solid green;
}