.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px; 
}
.product-section{
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 100%;
}
.product-section-heading{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: end;
}
.product-section-heading p{
    font-size: 26px;
    margin: 0;
    margin-left:2%;
    font-weight: 500;
    color:  #363c41;
}
.product-section-div{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1.1rem;
    align-items: center;
    justify-content: center;
}
.product-section-item{
    height: 85%;
    width: 15%;
    border: 1px solid black;
    position: relative;
    transition: 2s;
}

.product-section-item:hover .product-info .product-info-desc{
   transition: 1s;
   visibility: visible;
}
.product-section-item:hover .product-info-price{
   visibility: visible;
}
   
.product-section-image{
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.product-section-item:hover {
    scale: 1.1;
    transition: 1s;
    opacity: 0.7;
    border: none;
    cursor: pointer;
    background-color: black;
}
.product-info{
   position: absolute;
   inset: 0;
   visibility: visible;
   display: flex;
   flex-direction: column;
   justify-content: end;
   gap: 0px;
   margin-left: 10px;
}
.product-info-heading{
    margin: 0;
    color: black;
    font-size: 22px;
    font-weight: 500;
   
}
.product-info-desc{
    margin: 0;
    color: black;
    visibility: hidden;
}
.product-info-price{
    margin: 0;
    margin-bottom: 1rem;
    color: black;
    visibility: hidden;
}


@media(min-width:769px) and (max-width:1024px){
    .products{
        gap: 20px;
    }
    .product-section{
        height: 15rem;
    }
    .product-section-heading{
        height: 2rem;
    }
    .product-section-heading p{
        font-size: 22px;
        margin-left: 3%;
    }
    .product-section-div{
       height: 80%;
    }
    .product-section-item{
        height:90%;
        width: 13.5%;
    }
    .product-section-image{
        height: 100%;
        width: 100%;
    }
}

@media(min-width:481px) and (max-width:768px){
    .products{
       gap:10px; 
    }
    .product-section{
       height: 12rem;
    }
    .product-section-heading{
        height: 1rem;
    }
    .product-section-heading p{
        font-size:18px;
        margin-left: 4%;
    }
    .product-section-div{
       height: 80%;
    }
    .product-section-item{
       height: 90%;
       width: 12%;
    }
    .product-section-image{
       height: 100%;
       width: 100%;
    }
}
@media(min-width:320px) and (max-width:480px){
    .products{
        gap:4px; 
     }
     .product-section{
        height: 10rem;
     }
     .product-section-heading{
         height: 1rem;
     }
     .product-section-heading p{
         font-size:14px;
         margin-left: 4%;
     }
     .product-section-div{
        height: 80%;
     }
     .product-section-item{
        height: 80%;
        width: 11.5%;
     }
     .product-section-image{
        height: 100%;
        width: 100%;
     }
}