
.product-details-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-image{
    height: 38rem;
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-description{
    height: 38rem;
    width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.product-description::-webkit-scrollbar {
    display: none;
}
.product-image-upper{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image-lower{
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}
.product-item-image{
    height: 95%;
    width: 85%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.product-add-cart{
    height: 40%;
    width: 100%;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    background-color:#ff4949;
    border: none;
    outline:none;
    border-radius: 3px;
    cursor: pointer;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.product-description-text{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.product-desc-heading{
    color: gray;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    margin-top: 1rem;
}
.product-desc{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.special{
    margin: 0;
    color: green;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.product-price{
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}
.product-offers{
    height: 16rem;
}
.available-offers{
    font-size: 18px;
    font-weight: 500;
}
.available-offers-ol{
    margin-left: 0;
}
.cash-delivery{
    display: flex;
    height: 2.5rem;
    font-size: 20px;
    color: green;
    font-weight: 500;

}
.product-rating{
    display: flex;
    flex-direction: column;
    height: 12rem;
}
.product-rating-review{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.product-question{
    font-size: 16px;
    font-weight: 500;
}
.rating-emoji{
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.emoji{
    height: 40%;
    width: 20%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 18px;
    cursor: pointer;
    font-size: 500;
    color: white;
}