.tracking-main-div{
    height: 80rem;
    width: 100%;
}
.tracking-svg{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tracking-logo{
    height: 8rem;
    width: 10rem;
}
.tracking-number{
    font-size: 28px;
    font-weight: 500;
}
.tracking-places{

}
.tracking-places-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tracking-places-list-items{
    display: flex;
    height: 5rem;
    width: 20rem;
    gap: 2rem;
}
.items-span{
}
.tracking-checkmark{
    height: 50%;
}
.list-items-description{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}
.items-details{
    margin: 0px;
}
.items-shippment{
    margin: 0px;
}
